<h1>Create a Team and Heroes!</h1>

<form action="/teams" method="POST">
  Team Name: <input type='text' name='team[name]'><br>
  Team Motto: <input type='text' name='team[motto]'>
  <br>
  <h2>Hero 1</h2><br>
  Hero's Name: <input type='text' name='team[hero][][name]'><br>
  Hero's Power: <input type='text' name='team[hero][][power]'><br>
  Hero's Biography: <input  type='text' name='team[hero][][bio]'><br>
  <br>
  <h2>Hero 2</h2><br>
  Hero's Name: <input type='text' name='team[hero][][name]'><br>
  Hero's Power: <input type='text' name='team[hero][][power]'><br>
  Hero's Biography: <input  type='text' name='team[hero][][bio]'><br>
  <br>
  <h2>Hero 3</h2><br>
  Hero's Name: <input type='text' name='team[hero][][name]'><br>
  Hero's Power: <input type='text' name='team[hero][][power]'><br>
  Hero's Biography: <input  type='text' name='team[hero][][bio]'><br>
  <br>
  <input type="submit" name='Submit'>
</form>
