<h1>Create a Team and Heroes!</h1>

<form action="/heroes_form" method="POST">
  Team Name: <input type='text' name='team_name'><br>
  Team Motto: <input type='text' name='team_motto'>
  <br>
  <h2>Hero 1</h2><br>
  <br>
  Hero's Name: <input type='text' name=''
</form>
